body 
{
    font-family: 'Open Sans', sans-serif;
}

h1 
{
    font-size: 6em;
    text-align: center;
}
nav 
{
    font-size: 1.5em;
}

ul,li
{
    display: inline;
    margin: 0;
    padding: 0;
}

@media (width: 800px)
{
    h1
    {
        color: rgb(163, 129, 182);
    }
}

@media (min-width: 500px)
{
    h2
    {
        color: rgb(163, 129, 182);
    }
}

@media (min-width: 1000px)
{
    h2
    {
        color: rgb(192, 149, 149);
    }
}

@media (min-width: 600px) and (max-width:800px)
{
    h3
    {
        color: rgb(163, 129, 182);
    }
}

@media (orientation: landscape)
{
    body
    {
        background-color: rgb(56, 53, 53);
    }
}