section
{
    width: 80%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: bottom;
    margin: 0 auto;
}

h2
{
    font-size: 70px;
    color: rgb(235, 216, 216);
}